body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.parent {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 10px;
    justify-content: center;
    padding: 20px;
}

.parent  div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #0b0b00;
}

img {
    border: solid 10px rgb(1, 0, 0);
    padding: 10px;
}

.image, {
    width: 20%;
    height: 20%;
    object-fit: cover;
    
}

.image0 {
    width: 
    height: 

}

 .image1 {
    width: 
    height: 
}

.image2,  {
    width: 
    height: 
}

.image3, {
    width: 
    height: 
}

.image4 {
    width: 
    height: 
}

.image5 {
    width: 
    height: 
}

.image6 {
    width: 
    height: 
}

.image7 {
    width: 
    height: 
}




.div0 {
    grid-column:  
    grid-row: 
    width: 
    height: 

}

.div1 {
    grid-column:  
    grid-row: 
    width:
    height: 
}
}

.div2 {
    grid-column: 
    grid-row:
}

.div3 {
    grid-column: 
    grid-row: 
}

.div4 {
    grid-column:
    grid-row: 
}

.div5 {
    grid-column: 
    grid-row: 
}

.div6 {
    grid-column:  
    grid-row: 
}

.div7 {
    grid-column: 
    grid-row: 
}

.div8 {
    grid-column: 
    grid-row: 
}
